<div class="body">
    <div class="flex">
        <app-top-bar [ngClass]="'game'"></app-top-bar>
        <app-display-timer [ngClass]="'displayGame'"></app-display-timer>
    </div>
    <div class="bottom-grid">
        <div class="left">
            <div class="qcm-grid" *ngIf="currentQuestionType === 'QCM'">
                <div class="qcm-container" *ngFor="let choice of choices; index as i">
                    <div class="flex-qcm">
                        <app-display-choice
                            (timerDone)="timerHit0()"
                            (click)="toggleSelection(i)"
                            [isSelected]="isSelectedArr[i]"
                            [color]="color[i]"
                            [index]="i + 1"
                            [isCorrect]="answerQuestionQCM[i]"
                            [choice]="choice"
                        ></app-display-choice>
                    </div>
                </div>
            </div>
            <div class="qrl-textbox" *ngIf="currentQuestionType === 'QRL'">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Answer ({{ remainingCharacters }} characters remaining)</mat-label>
                        <textarea
                            autofocus
                            matInput
                            placeholder=" "
                            [(ngModel)]="answerQuestionQRL"
                            maxlength="200"
                            (focus)="setQrlFocus(true)"
                            (blur)="setQrlFocus(false)"
                            (input)="updateCharacterCount()"
                            [disabled]="isAnswerSubmitted"
                            (input)="sendActive()"
                        >
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="player-score-container" *ngIf="showQRLScore">
                <div class="top">
                    <span>{{ scoreMessageQRL[0] }}</span>
                    <p>{{ scoreMessageQRL[1] }}</p>
                </div>
                <div class="bottom">
                    <div>
                        <p>Ton score est de {{ scoreMessageQRL[2] }}%.</p>
                    </div>
                </div>
            </div>
            <div class="center-btn">
                <button #submit (click)="!isTimerDone && toggleSubmit()">
                    <mat-icon *ngIf="!isAnswerSubmitted">send</mat-icon>
                    <mat-icon *ngIf="isAnswerSubmitted">check</mat-icon>
                    <p *ngIf="!isAnswerSubmitted">Soummettre la réponse!</p>
                    <p *ngIf="isAnswerSubmitted">Réponse soumise!</p>
                </button>
            </div>
        </div>
        <div class="right">
            <div class="chat">
                <app-chat (isFocus)="isChatFocused = true" (isNotFocus)="isChatFocused = false"></app-chat>
            </div>
        </div>
    </div>
</div>
