<div class="container justified">
    <header>
        <h1 class="header-item text-overlay">{{ title }}</h1>

        <img src="./assets/images/logo.png" alt="Logo Projet" />

        <h1 class="team-name text-overlay">Équipe: 204</h1>
    </header>
    <section class="flexContainer">
        <button class="button" id="creer" routerLink="/game">Créer une partie</button>
        <button class="button" id="joindre" routerLink="/lobby-page">Joindre une partie</button>
        <button class="button" id="administrer" routerLink="/admin">Administrer les jeux</button>
    </section>

    <footer class="footer-item">
        <h2>Grégory Lagrandcourt</h2>
        <h2>Gabriel Gascon-Parent</h2>
        <h2>Bruna Bado Corrêa</h2>
        <h2>Allan-André Tchokogué</h2>
        <h2>Motassembellah Mohamed Bassiouni</h2>
        <h2>Julie Malosse</h2>
    </footer>
</div>
