h1,
p {
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 128px;
    margin-bottom: 5px;
}

p {
    display: block;
    padding-bottom: 24px;
    font-size: 20px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
