<div class="popup">
    <div class="user-container">
        <mat-icon id="user">account_circle</mat-icon>
    </div>
    <div class="form-container">
        <mat-form-field>
            <mat-label>Entrer votre mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="userPassword" (keydown.enter)="validate()" autofocus />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="flexbox">
        <button mat-raised-button color="primary" (click)="validate()"><mat-icon>lock</mat-icon> Connexion</button>
        <button id="annuler" color="warn" routerLink="/home"><mat-icon>close</mat-icon> <span>Annuler</span></button>
    </div>
</div>
